.game-over {
  position: absolute;
  top: 146px;
  width: 99%;
  height: 550px;
  justify-content: center;
  display: none;
  align-items: center;
}
.game-end {
  position: absolute;
  top: 146px;
  width: 99%;
  height: 550px;
  justify-content: center;
  display: none;
  align-items: center;
}

.restart {
  border: 2px solid black;
  width: 130px;
  height: 30px;
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

.lose {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 9%;
  /* width: 1200px;
  height: 550px; */
}

.win {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 9%;
  /* width: 1200px;
    height: 550px; */
}

a {
  width: 130px;
  margin-top: 140px;
}

.canvas {
  border-radius: 50px;
  margin-left: 28px;
}

h1 {
  text-align: center;
}

.scorebox {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

h2 {
  margin-right: 20px;
}

body {
  background-image: url("../images/background-image.jpg");
}
.game-start {
  border: 2px solid black;
  width: 77%;
  border-radius: 40px;
  text-align: center;
  height: 550px;
  background-color: #7ec7f0;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: cursive;
  font-size: 80%;
}

p {
  margin-top: 59px;
  margin-bottom: 0;
  font-size: 126px;
}

.start {
  border: 2px solid black;
  width: 130px;
  height: 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  border-radius: 50px;
}

.general {
  display: flex;
  justify-content: center;
}

.final-screen {
  width: 810px;
  height: 500px;
  background-color: black;
  background-image: url("../images/lose-screen.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.final-screen-first {
  width: 810px;
  height: 500px;
  background-color: black;
  background-image: url("../images/win-screen.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: none;
}
